body, form {
	background: #ffffff !important;
}

.evgn_sidebar {
	padding-left:20px;
	padding-right:20px;
}

.evgn_sidebar h3 {
	font-size:25px;
}
	
.qgiv-form-container #hero-block .hero-copy {
	max-width: 40%;
}
.monthly strong {
	font-weight: normal;
}
.ct {
	color: #ffffff;
}
.form-header-content, .form-footer-content {
	padding-top: 0px;
}
body, form, div {
		font-family: 'ITC Stone Sans W01', Helvetica, Arial, sans-serif;
}
.qgiv-form-container #hero-block h1 {
	color: #da5049;
}
.qgiv-form-container #hero-block .sub-header {
	color: #c9212a;
    font-size:20px;
	font-weight:bold;
}
.one-statement strong {
	font-weight: normal;
}
#hero-block h2 {
	color: #878c47;
}
.personal-info-fields h2, .payment-information h2, .form-section-title, .sbr h2, .sbr em, .sbr h3 {
	color: #000000 !important;
	text-transform: uppercase;
	font-weight: 600;
}
.sbr em {
	text-transform: none;
}
.payment-information .option-label.active {
	background: #da5049 !important;
}
.payment-type-options {
	border: solid 2px #da5049 !important;
}
.submit-button, .submit-button:hover {
	background: #da5049 !important;
	font-weight: normal;
}
label[for="payment-type-echeck"], label[for="payment-type-credit-card"] {
	color: #da5049;
}
.onetime li, .monthly li {
	border: solid 2px #C3413D !important;
	color: #000 !important;
	background: #ffffff;
	font-weight: normal;
}
#sideBySide {
	background: #da5049;
    border-top: solid 10px #da5049;
    border-bottom: solid 10px #da5049;
	color: #ffffff;
}
#sideBySide li.active {
	border: solid 2px #ffffff !important;
	background: #C3413D !important;
	color: #ffffff !important;
}
.panel.highlight {
	/*background: #edece7 !important;*/
}
#sideBySide li.active input[type="text"]:-ms-input-placeholder {
	color: #ffffff !important;	
}
#sideBySide li.active input[type="text"]::-ms-input-placeholder {
	color: #ffffff !important;	
}
#sideBySide input[type="text"]:-ms-input-placeholder {
	color: #C3413D  !important;
}

#sideBySide input[type="text"]::-ms-input-placeholder {
	color: #C3413D  !important;
}
#sideBySide li.active input[type="text"]::placeholder{
	color: #ffffff !important;
	opacity: 1.0;
}
#sideBySide input[type="text"] {
	color: #ffffff !important;
	font-weight: normal;
}
#sideBySide input[type="text"]::placeholder {
color: #000 !important;
opacity: 1.0;
}
#sideBySide li.active input[type="text"]::placeholder{
	color: #ffffff !important;
	opacity: 1.0;
}
span.js-transaction-total-label.submit-total-label {
	display: block;
}
.submit-total-label {
	margin-left: 0px;
	padding-left: 0px;
	border-left: none;
}
.user-html-content.form-footer-content.cf {
	border-left: solid 1px #afafaf;
}
@media screen and (max-width: 1024px) {
 .qgiv-form-container #hero-block .hero-image img.mobile, .qgiv-form-container {
 border-bottom: solid 5px #da5049;
}
}
@media screen and (max-width: 768px) {
	.user-html-content.form-footer-content.cf {
		border-left: none !Important;
	}
}
@media screen and (max-width: 450px){
	.qgiv-form-container #hero-block h1, #hero-block h2 {
		color: #da5049  !important;
	}
	.qgiv-form-container #hero-block .hero-copy {
		background: #F9F5EA !Important;
	}
	.qgiv-form-container #hero-block p,  #hero-block ul {
		color: #666666 !important;
	}
}
